form#newRecipe(action="/recipes/fixRecipeImage", method="post", enctype="multipart/form-data")            
    h2 Add a picture 
    <input class="custom-file-input" type = "file" name = "image" accept = "image/*" />
    button#add-recipe-btn(type="submit") Add Recipe