extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/register.css")
block content
    form.register-form(action="/login/updatePassword/" + userId method="post" id="register-form") 
        h2 Password Reset 
        input.register-input(type="password", name="password", placeholder="New Password")
        button.register-button(type="submit") Submit