extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/addMeal.css")
block scripts
    script(src="/javascripts/frontEnd.js") 
block content 
    - var ingredientsHelper = 'Example:\n1 large egg\n½ teaspoon salt\n½ teaspoon ground black pepper\n1 pound ground beef\n½ cup fine dry bread crumbs'
    - var instructionsHelper = 'Example:\n1)Make patties\n2)cook\n3)eat'
    h1 addmeals
    form#newMeal(action="/meals/addMeals", method="post")
        h2 Meal Title 
        input(type="text", name="title")
        h2 Ingredients
        textarea#ingredients(name="ingredients", cols="30", rows="10", placeholder=ingredientsHelper)
        h2 Cooking Instructions 
        textarea#cookingInstruction(name="directions", cols="30", rows="10", placeholder=instructionsHelper)
        h2 Add a picture 
        <input type = "file" name = "image" accept = "image/*" />
        h2 Add a video
        <input type = "file" name = "upload" accept = "video/*" />
        button(type="submit") Add Meal
       