extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/register.css")
block scripts
    script(src="/javascripts/forgotPassword.js") 
block content
    .register-form
        h2 Password Recovery
        input.register-input(type="text" name="username" placeholder="Username" id="username")
        input.register-input(type="email" name="email" placeholder="Email" id="email") 
        button#get-question-btn(type="button") Submit

    form#security-question-container(class="register-form" action="" method="post")
        h3#question 
        input.register-input(type="text" name='answer')
        button(type="submit") Submit Answer