doctype html
html
  head
    title=myRecipePlanner
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block styles
    block scripts
  block body
    body
  header 
    h1 
      a(href='/') myRecipePlanner
    nav 
      li 
        a(href='/recipes') Recipes 
      if authenticated
        li
          a(href='/profile') Profile
        li 
          a(href='/calendar') Calendar
        li 
          a(href="/lists") Lists 
        li 
          a(href='/logout') Logout
      else 
        li 
          a(href='/login') Login
          span    / 
          a(href='/register') Sign Up

  if messages.error
    .error-box
      p.error-message=messages.error
  if messages.success 
    .success-box 
      p.success-message=messages.success
  block content
