doctype html
html
  head
    title= mealPlanner
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block styles
  block body
    body
  header 
    h1 
      a(href='http://localhost:3000/') mealPlanner
    nav 
      li 
        a(href='http://localhost:3000/meals') meals 
      if authenticated
        li
          a(href='http://localhost:3000/profile') profile
        li 
          a(href='http://localhost:3000/calendar') calendar
        li 
          a(href='http://localhost:3000/logout') logout
      else 
        li 
          a(href='http://localhost:3000/login') login
          span    / 
          a(href='http://localhost:3000/register') sign up
      
      
  block content