doctype html
html
  head
    title= mealPlanner
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block styles
    block scripts
  block body
    body
  header 
    h1 
      a(href='/') mealPlanner
    nav 
      li 
        a(href='/meals') meals 
      if authenticated
        li
          a(href='/profile') profile
        li 
          a(href='/calendar') calendar
        li 
          a(href='/logout') logout
      else 
        li 
          a(href='/login') login
          span    / 
          a(href='/register') sign up

  if messages.error
    .error-box
      p.error-message=messages.error
  if messages.success 
    .success-box 
      p.success-message=messages.success
  block content
