doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title=myRecipePlanner
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block styles
    script(src="/javascripts/layout.js")
    block scripts
  block body
    body
  header 
    h1 
      a(href='/') myRecipePlanner
    img#dropdown-btn(src="/images/dropdown-nav.png", alt="")
    nav#main-nav
      li 
        a(href='/recipes') Recipes 
      if authenticated
        li
          a(href='/profile') Profile
        li 
          a(href='/calendar') Calendar
        li 
          a(href="/lists") Lists 
        li 
          a(href='/logout') Logout
      else 
        li 
          a(href='/login') Login
        li
          a(href='/register') Sign Up


  if messages.error
    .error-box
      p.error-message=messages.error
  if messages.success 
    .success-box 
      p.success-message=messages.success
  block content
