extends layout 
body 
block content 
    a(href="http://localhost:3000/meals/addMeals") addMeals
    form(action="/meals/filter", method="post")  
        h2 Need to add filter section

        
    input(type="text" placeholder="What's for dinner?" )

    each meal, i in allMeals
        img(src=mealImages[i], alt=meal.title)
        p=meal.title
        p=i
