extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/meals.css")
block content 
    a(href="http://localhost:3000/meals/createMeal") createMeal
    form(action="/meals/filter", method="post")  
        h2 Need to add filter section

        
    input(type="text" placeholder="What's for dinner?" )

    each meal, i in allMeals
        form(action="") 
            img.meal-img(src=mealImages[i], alt=meal.title)
            p=meal.title
