extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/recipeAdded.css")
block content
    #success-container
        h2#success-msg Recipe added successfully!
    
    a(href="/recipes/individualRecipe/" + id)#meal-container
        h3=recipeTitle
        img(src=recipeImg, alt="new meal")