extends layout
block styles
    link(rel="stylesheet", href="/stylesheets/register.css")
block content
    form.register-form(action="/register", method="post") 
        h1 Register
        input.register-input(type="text", name="firstname", placeholder="First Name")
        if options.noInput === "firstname"
            p.err-msg First name is required
        input.register-input(type="text", name="lastname", placeholder="Last Name")
        if options.noInput === "lastname"
            p.err-msg Last name is required
        input.register-input(type="text", name="username", placeholder="Username")
        if options.noInput === "username"
            p.err-msg Username is required
        if options.usernameInUser === true
            p.err-msg Username is already associated with an account.
        input.register-input(type="email", name="email", placeholder="Email")
        if options.noInput === "email"
            p.err-msg Email is required
        if options.emailInUse === true 
            p.err-msg Email is already associated with an accout.  
        input.register-input(type="password", name="password" placeholder="Password")
        if options.noInput === "password"
            p.err-msg Password is required 
        if options.insecurePassword
            p.err-msg Password Requirements: 
            ul.err-msg 
                li 12 characters long
                li 1 capital letter 
                li 1 special character 
        button.register-button(type="submit") Sign Up
