
#newMeal{
    justify-self: center;
    display: grid;
    width: 80%;
}

#ingredient-container{
    display: flex;
}

.ingredients{
    width: 100%;
}

.amounts{
    width: 10%;
}

#addRow{
    width: min-content;
    justify-self: right;
}

#tag-container{
    display: flex;
    justify-content: space-between;
}

.help-label{
    display: none;
}

.tag-type-container{
    display: flex;
    flex-direction: column;
}

.checklist{
    display: flex;
    margin: 0.5em 0;
}

.help{
    margin-left: 1em;
}