#newRecipe{
    justify-self: center;
    display: grid;
    width: 80%;
    margin: 100px 1em 2em 1em;
}

#add-recipe-btn{
    width: fit-content;
    justify-self: center;
}

#newRecipe input{    
    border-radius: 1em;
    padding: 0.5em;
}

#title{
    width: 30%;
}

#newRecipe textarea{
    border-radius: 1em;
    padding: 0.5em;
}

#ingredient-container{
    display: flex;
    align-items: center;
}

.remove-ingredient{
    margin-right: 1em;
}

.quantity{
    width: 2em;
    margin: 1em;
}

.unit{
    width: 2em;
    margin: 1em;
}

.ingredient{
    width: 20em;
    margin: 1em;
}

#nan-message{
    color: red;
    display: none;
}

#add-ingredient{
    justify-self: center;
}

#add-step{
    justify-self: center;
}


.step{
    width: 100%;
    margin-top: 0.5em;
}

#tag-container{
    display: flex;
    justify-content: space-between;
}

#tag-container input{
    width: auto;
    border-radius: 0;
}

.help-label{
    display: none;
}

.tag-type-container{
    display: flex;
    flex-direction: column;
}

.checklist{
    display: flex;
    margin: 0.5em 0;
}

.help{
    margin-left: 1em;
}

@media only screen and (max-width: 850px){
    #servings{
        width: 90%;
    }

    .step{
        width: 90%;
    }

    input::placeholder{
        font-size: large;
    }

    #main-nav{
        top: 68px;
        margin: 0;
    }

    #newRecipe{
        width: auto;
    }
}