@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,800&display=swap');

section{
  display: flex;
  justify-content: space-between;
  margin: 1em;
  max-height: 27em;
  min-height: 27em;
}

#random-recipe-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: solid;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#placeholder{
  display: flex;
  border: solid;
  width: 45%;
  height: 15em;
}

#placeholder img {
  width: 100%;
}

.recipe-card{
  display: none;
  color: white;
  background-color: black;
  padding: 2em;
  text-align: center;
  flex-direction: column;
  width: 20em;
  align-items: center;
}

.recipe-card h2{
  margin-top: 0;
}

.recipe-img{
  height: 12em;
  max-width: 15em;
  min-width: 15em;
  border: solid;
  border-color: white;
}

#random-recipe-link{
  font-size: large;
  font-weight: bold;
  margin: 1em 0;
}

.fresh-recipes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: solid;
  overflow: scroll;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.fresh-recipe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  border-top: solid;
  padding: 0.5em;
  color: black;
  width: 95%;
}

.fresh-bold{
  font-weight: bold;
}

.fresh-recipe:visited{
  color: black;
}

.fresh-recipe:hover{
  background-color: rgb(255, 232, 164);
  color: black;
}

.fresh-recipe p{
  margin: 0.5em;
}

.fresh-recipe-img{
  min-width: 10em;
  max-width: 10em;
  min-height: 8em;
  max-height: 8em;
  border: solid;
  border-radius: 2em;
}

.fresh-recipe a{
  color: black;
}

.fresh-recipe a:visited{
  color: black;
}

.fresh-recipe-info{
  display: flex;
  flex-direction: column;  
}

.credit-img{
  width: 5em;
  margin-left: 0.5em;
  border: solid;
  border-radius: 2em;
}

.newsfeed-container{
  border-top: solid;
  justify-self: center;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
}

.news-article{
  padding: 2em;
  background-color: black;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  border: solid;
  border-color: white;
}

.news-article img{
  max-height: 80%;
}