@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,800&display=swap');

#intro{
  display: flex;
  margin: 120px 1em 0 1em;
  justify-content: center;
}

#sign-up-btn{
  justify-self: center;
}

#features-section{
  justify-self: center;
  width: 75%;
  margin: 2em 1em 0 1em;
  display: flex;
  border: solid;
  border-color: rgb(255, 232, 164);
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#features-section img{
  width: 95%;
  height: 96%;
  border: solid;
}

section{
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

#random-recipe-container{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 45%;
  border: solid;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#placeholder{
  display: flex;
  border: solid;
  width: 45%;
  margin-bottom: 2em;
}

#placeholder img {
  width: 100%;
}

.recipe-card{
  display: none;
  color: white;
  border: solid;
  border-color: rgb(255, 232, 164);
  border-width: 0.5em;
  background-color: black;
  padding: 2em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  max-width: -webkit-fill-available;
}

.recipe-card:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.recipe-card h3{
  margin-top: 0;
}

.recipe-img{
  height: 12em;
  width: 15em;
  border: solid;
  border-color: white;
}

#random-recipe-link{
  font-size: large;
  font-weight: bold;
  margin: 1em 0;
}

#random-recipe-btn{
  margin-bottom: 1em;
}

.fresh-recipes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50em;
  width: 45%;
  border: solid;
  overflow: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.fresh-recipe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  border-top: solid;
  padding: 0.5em;
  color: black;
  width: 95%;
}

.fresh-bold{
  font-weight: bold;
}

.fresh-recipe:visited{
  color: black;
}

.fresh-recipe:hover{
  background-color: rgb(255, 232, 164);
  color: black;
}

.fresh-recipe p{
  margin: 0.5em;
}

.fresh-recipe-img{
  min-width: 10em;
  max-width: 10em;
  min-height: 8em;
  max-height: 8em;
  border: solid;
  border-radius: 2em;
}

.fresh-recipe a{
  color: black;
}

.fresh-recipe a:visited{
  color: black;
}

.fresh-recipe-info{
  display: flex;
  flex-direction: column;  
}

.credit-img{
  width: 5em;
  margin-left: 0.5em;
  border: solid;
  border-radius: 2em;
}

.newsfeed-container{
  border-top: solid;
  justify-self: center;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
}

.news-article{
  padding: 2em;
  background-color: black;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  border: solid;
  border-color: white;
}

.news-article img{
  max-height: 80%;
}

@media only screen and (max-width: 1000px) {
  section{
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }

  #random-recipe-container{
    width: 80%;
    margin-bottom: 2em;
  }
  
  .fresh-recipes-container{
    width: 80%;
  }
}

@media only screen and (max-width: 850px){
  #main-nav{
    top: 75px;
    margin: 0;
  }
}