@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,800&display=swap');

body{
    margin: 0;
    display: grid;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
  }

  button {
    font-family: 'Open Sans', sans-serif;
  }
  
  header h1 {
    margin: 1em;
  }
  
  
  nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0 1em 0 1em;
    font-size: 1.5em;
  }
  
  nav li{
    margin: 1em;
  }
  header a {
    color: white;
    text-decoration: none;
  }
  
  header a:hover{
    color: rgb(255, 232, 164);
  }

  .err-msg{
    color: red;
    display: block;
    margin-bottom: 0.5em;
  }
  
  .profile-img{
    width: 4%;
    border: solid;
    border-color: black;
    border-radius: 2em;
  }