
/* body {
    margin: 0;
    display: grid;
    background-image: url(../images/steak.jpg);
    background-position: center;
    background-size: cover;
} */

.login-form{
  display: grid;
  width: 35%;
  justify-self: center;
  margin-top: 168px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 3%;
  border: solid;
  border-color: rgb(255, 232, 164);
}

.login-form h1{
  margin-top: 0;
}

.login-form input {
  height: 3em;
  margin: 0.5em 0 0.5em 0;
  width: 80%;
  justify-self: center;
}

.login-form input::placeholder {
  text-align: center;
  font-size: 1.5em;
}


.login-form button{
  font-size: 1.5em;
  margin-top: 0.5em;
  height: 2em;
  width: 50%;
  justify-self: center;
  background-color: white;
  border: none;
}

.login-form button:hover{
  background-color: rgb(255, 232, 164);
}

.login-form button:hover{
  cursor: pointer;
}

.login-text{
  text-align: center;
}

.login-text a{
  text-decoration: none;
  color: rgb(255, 232, 164);
}

.login-text a:hover{
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  .login-form{
    width: 80%;
  }

  #main-nav{
    top: 68px;
    margin: 0;
  }
}