@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,800&display=swap');


#create-meal{
    margin: 1em 1em 0 1em;
    color: white;
    font-size: x-large;
    font-weight: bold;
    justify-self: center;
    border: solid;
    border-radius: 2em;
    border-color: rgb(255, 232, 164);
    border-width: 0.25em;
    background-color: black;
    padding: 0.5em;
}
#create-meal:hover{
    color: black;
    background-color: rgb(255, 232, 164);
    border-color: black;
}

#adjustment-container{
    background-color: black;
    margin: 1.5em 2em 2em 2em;
}

#search-filter-container{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

#filter-btn{
    margin-left: 1em;
}

#apply-filters-btn{
    display: none;
}

#filter-container{
    display: none;
    flex-direction: column;
}

#filters{
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}


.filter-label{
    color: white;
    font-weight: normal;
}

.filter-category{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    font-size: large;
    font-weight: bold;
}

.filter-option{
    display: flex;
    align-items: baseline;
    
}

#search-container{
    display: flex;
    justify-self: center;
}

#search-btn{
    margin-left: 1em;
}

#search-bar{
    border-radius: 2em;
    margin-left: 1em;
    width: 20em;
}

#search-bar::placeholder{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#search-term{
    font-weight: bold;
}

#active-filters-list{
    display: flex;
    color: white;
    list-style: none;
}

#active-filters-list li{
    color: rgb(255, 232, 164);
    margin: 0 0.5em;
}
.meal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1em;
}

.meal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border: solid;
    border-color: black;
    background-color: black;
    padding-bottom: 1em;
    min-width: 20em;
    max-width: 20em;
}
.meal-img{
    width: 100%;
    max-height: 15em;
    min-height: 15em;
    border-bottom: solid;
    border-color: black;
}

.select-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.date{
    height: 2em;
    border-radius: 1em;
}

.date-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: white;
    margin-bottom: 0.5em;
}


.addMeal{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.addMeal button{
    margin-top: 1em;
    width: 50%;
    justify-self: center;
}