#welcome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
    flex-direction: column;
    align-content: baseline
}

#edit-img-btn:hover{
    background-color: rgb(255, 232, 164);
}

#welcome img{
    width: 10em;
    border-radius: 1em;
    border: solid;
    border-color: black;
}


#profile-img-btn img:hover{
    border-color: rgb(255, 232, 164);
}

#edit-img-form{
    display: none;
}

#week-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.card{
    border: solid;
    margin: 1em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.card h2{
    text-align: center;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: solid;
    background-color: black;
    width: 12%;
    height: fit-content;
    text-align: center;
    padding-bottom: 1em;
}

.day h3{
    margin: 0.5em 0;
}

.day h4{
    margin: 0.5em 0;
}

.day a{
    width: 75%;
    padding: 0.25em;
    font-size: 1em;
    margin: 0.5em 0;
    border: solid;
    border-radius: 2em;
    border-color: rgb(255, 232, 164);
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.day a:visited{
    padding: 0.25em;
    font-size: 1em;
    margin: 0.5em 0;
    border: solid;
    border-radius: 2em;
    border-color: rgb(255, 232, 164);
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.day a:hover{
    background-color: rgb(255, 232, 164);
}


.active{
    color: black;
    background-color: rgb(255, 232, 164);
}

.day.active a{
    border-color: black;
    color: black;
}

.active a:hover{
    color: white;
    background-color: black;
    border-color: white;
}


#card-container{
    display: flex;
    justify-content: space-around;    
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
    border: solid;
    margin: 1em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.user-meal{
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    border-top: solid;
    padding: 0.5em 0;
}

.user-meal h3{
    width: 50%;
    padding: 0.5em;
}

.user-meal img{
    width: 50%;
    margin: 0 0.5em;
    border: solid;
    border-color: rgb(255, 232, 164)

}

.edit-meal-btn{
    width: 30%;
    background-color: black;
    color: white;
}

.edit-meal-btn:hover{
    border-color: black;
}

.dailyMeal{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    margin: 0.5em;
}

.dailyMeal p{
    font-weight: bold;
    margin-bottom: 0.25em;
}

.dailyMeal img{
    border: solid;
    border-radius: 2em;
    color: white;
    width: 75%;
}

