@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,800&display=swap');


#create-recipe{
    margin: 150px 1em 0 1em;
    color: white;
    font-size: x-large;
    font-weight: bold;
    justify-self: center;
    border: solid;
    border-radius: 2em;
    border-color: rgb(255, 232, 164);
    border-width: 0.25em;
    background-color: black;
    padding: 0.5em;
}
#create-recipe:hover{
    color: black;
    background-color: rgb(255, 232, 164);
    border-color: black;
}

#adjustment-container{
    background-color: black;
    margin: 1.5em 2em 2em 2em;
}



#search-filter-container{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

#filter-btn{
    margin-left: 1em;
}

#apply-filters-btn{
    display: none;
}

#filter-container{
    display: none;
    flex-direction: column;
}

#filter-container ul{
    color: rgb(255, 232, 164);
}

#filters{
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}

#filter-btn-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.filter-label{
    color: white;
    font-weight: normal;
}

.filter-category{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    font-size: large;
    font-weight: bold;
    text-align: left;
    align-items: baseline;
}

.filter-option{
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    text-align: left;
}

#search-container{
    display: flex;
    justify-self: center;
}

#search-btn{
    margin-left: 1em;
}

#search-bar{
    border-radius: 2em;
    margin-left: 1em;
    width: 20em;
    font-weight: bold
}

#search-bar::placeholder{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#search-term{
    font-weight: bold;
}

#active-filters-list{
    display: flex;
    color: white;
    list-style: none;
}

#active-filters-list li{
    color: rgb(255, 232, 164);
    margin: 0 0.5em;
}
.recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1em;
}

.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border: solid;
    border-color: black;
    background-color: black;
    padding: 1em;
    min-width: 20em;
    max-width: 20em;
}
.recipe-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-link p {
    color: rgb(255, 232, 164);

}

.recipe-link p:hover{
    color: white;
}

.recipe-link:hover{
    color: white;
}

.clickables-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.add-favorite{
    width: 3em;
}

.add-favorite:hover{
    cursor: pointer;
}

.remove-favorite{
    width: 3em;
}
.remove-favorite:hover{
    cursor: pointer;
}

.calendar-img{
    width: 3em;
}

.calendar-img:hover{
    cursor: pointer;
}

.recipe-img{
    width: 100%;
    max-height: 15em;
    min-height: 15em;
    border: solid;
    border-color: rgb(255, 232, 164);
}

.recipe-img:hover{
    border-color: white;
}

.select-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.date{
    height: 2em;
    border-radius: 1em;
}

.date-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: white;
    margin-bottom: 0.5em;
}


.addrecipe{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.addrecipe button{
    margin-top: 1em;
    width: 50%;
    justify-self: center;
}

/* recipesByUser */
#user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: rgb(255, 232, 164);
    border: solid;
    margin: 1em;
    padding: 0 2em 2em 2em;
}

#user-container img {
    border: solid;
    border-color: white;
}

@media only screen and (max-width: 1200px) {
    .recipe-container{
        flex-direction: column;
        align-items: center;
    }
    .recipe{
        width: fit-content;
        max-width: none;
        max-width: none;
    }
    .recipe-link img{
        margin: 2em;
        max-width: none;
        max-height: none;
    }

    .recipe-link p{
        margin: 0 0 0.5em 0;
        font-size: 1.5em;
        font-weight: bold;
    }

    #search-filter-container{
        flex-direction: column;
    }

    #search-bar{
        width: 40em;
    }
    
    #search-bar::placeholder{
        font-size: 2em;
    }

    .select-container{
        font-size: 1.5em;
    }
    
    select{
        font-size: 28px;
        width: 7em;
        text-align: center;
    }
    
}

@media only screen and (max-width: 900px){
    body{
        font-size: 2em;
    }

    #dropdown-btn{
        margin: 0 2em 0 0;
    }
    
    #main-nav{
        top: 95px;
        margin: 0;
    }
}