h1{
    color: white;
}

#security-question-container{
  display: none;
  margin: 2em 0 2em 0;
}

.register-form{
    display: grid;
    width: 35%;
    justify-self: center;
    margin-top: 160px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
    border: solid;
    border-color: rgb(255, 232, 164);
  }
  
  .register-form h1{
    margin-top: 0;
  }
  
  .register-form input {
    height: 3em;
    margin: 0.5em 0 0.5em 0;
    width: 80%;
    justify-self: center;
  }
  
  .register-form input::placeholder {
    text-align: center;
    font-size: 1.5em;
  }

  a{
    color: white;
    margin-bottom: 0.5em;
  }

  a:hover{
    color:rgb(255, 232, 164);
  }

  ul.err-msg{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 0;
  }
  
  .register-form button{
    margin-top: 0.5em;
    width: 50%;
    justify-self: center;
  }

  .register-form select {
    text-align: center;
    font-size: 1.5em;
    height: 2.5em;
    margin: 0.5em 0 0.5em 0;
    width: 84%;
    justify-self: center;
    border-radius: 1em;
  }
  
  .register-form button:hover{
    background-color: rgb(255, 232, 164);
  }
  
  .register-form button:hover{
    cursor: pointer;
  }
  
  .register-text{
    text-align: center;
  }
  
  .register-text a{
    text-decoration: none;
    color: rgb(255, 232, 164);
  }
  
  .register-text a:hover{
    font-weight: bold;
  }

  .more-info{
    border:solid;
    background-color: white;
  }

  .special-chars{
    display: none;
  }

  #custom-question{
    display: none;
  }

  #hide-custom-btn{
    display: none;
  }

  @media only screen and (max-width: 850px) {
      .register-form{
        width: 90%;
      }

      #main-nav{
        top: 68px;
        margin: 0;
      }
  }